@keyframes list-enter {
  0% {
    transform: translate(1%, 30%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.enter-in {
  animation: list-enter ease-in-out 0.5s forwards;
}
